---
import MyButton from "../components/my-button.astro";
import ReactComponent from "../components/reactComponent";
const pageTitle = "I got a massive Potato";
import "../styles/global.css";
---

<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
<head>
  <title>{pageTitle}</title>
</head>

<main>
  <h1 id="pageTitle">asdf</h1>
  <h2>asdf</h2>
  <p>
    This paragraph contains a lot of lines in the source code, but the browser
    ignores it.
  </p>
  <a href="url">link text</a>
  <ReactComponent client:only />
</main>

<style>
  h1 {
    color: red;
  }

  * {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  h2 {
    font-size: 2em;
  }
</style>

<script>
  const button = document.getElementById("myButton")!;
  const title = document.getElementById("myTitle")!;

  button.addEventListener("click", doDaThang);

  let count = 0;

  function doDaThang() {
    count = count + 1;
    title.innerHTML = "Hi tyson: " + count;
  }
</script>
